#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  padding: 1em 2em;
}

.button_container {
  display: flex;
  gap: 7rem;
  justify-content: center;
}

.text_container {
  margin: 1rem;
  height: 24px;
}

.gif_container {
  height: 300px;
}
