#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  padding: 1em 2em;
}

.button_container {
  display: flex;
  gap: 7rem;
  justify-content: center;
}

.text_container {
  margin: 1rem;
  min-height: 24px;
}

.gif_container {
  height: 300px;
}

.image {
  width: 300px;
  height: auto;
}

.hint {
  color: #c08263;
}

.signature {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 1em;
}

@media (max-width: 768px) {
  .image {
    width: 150px;
  }
  .button_container {
    gap: 2rem;
  }
  .text_container {
    min-height: 48px;
  }
}
