:root {
  font-family: 'Noto Serif', serif;
  line-height: 1.5;
  font-weight: 400;
  overflow: hidden;

  color: #251605;
  background-color: #fef6ed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Elsie', serif !important;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-family: 'Noto Serif', serif;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 900;
  font-family: inherit;
  color: #fde6cd;
  background-color: #f6756a;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;
}
button:hover {
  background-color: #f7b7a4;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4em;
  }
}
